@font-face {
    font-family: "Helvetica Now Display";
    src: url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.eot");
    src: url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family: "Helvetica Now Display";
    src: url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.eot");
    src: url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family: "Helvetica Now Display";
    src: url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.eot");
    src: url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family: "Helvetica Now Display";
    src: url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.eot");
    src: url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.woff") format("woff"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.woff2") format("woff2"), url("../assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}